/* CSS for GitHub.com at 1200px height screens */

#commits_bucket {
    /* /compare/ */
    height: 650px;
    overflow-y: scroll;
}

.js-discussion {
    /* /pull/ */
    height: 600px;
    overflow-y: scroll;
}

.site-footer {
    margin: 10px 0 0;
    padding: 5px 0 0;
}

.site-footer .octicon-mark-github {
    top: 2px;
}